.contenedorlista{
    list-style: none;
    ul{
        text-decoration: underline;
    }
}
.contenedorhembra{display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
    .imghembras{border-radius: 5px;
        border: double;
    }
    .card-title{ font-family: robot;}
    .card-body{background-color: lightgrey;}
    .btncomprar{color:black;
                border: groove;
                padding:5px 5px}
    }