.tamano{
    .imgmachos{
        width: 900px;
    height: 600px;
    justify-content: center;
    border-radius: 20px;
    margin-left: 250px;
    }
}
.img{
    height:400px;
    width: 650px;
    padding: 20px;
    padding-left: 100px;
    text-align: center;
}